/*Page Index.html*/

body, html {
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.bienvenue {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: bolder;
}

.titre {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.pseudo{
  font-size: 30px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  
}


.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20%;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  
}

.choix {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;

}

.start {
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  padding: 2px;
  margin-top: 10px;

}

input[type="radio"] { -ms-transform: scale(1.5); /* IE 9 */ -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */ transform: scale(1.5); } 

.background1 {
  height: 100%;
  background: linear-gradient(78deg,#50ca7f,#b97006,#12fd4b,#e4b421);
  background-size: 240% 240%;
  animation: gradient-animation 40s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*Page game.html*/

.background {
  height: 100%;
  width: 100%;

}

/* séparé la page en 2 div droite et gauche */
.gauche {
width: 50%;
height: 100%;
float: left;
}

.droite {
  width: 50%;
  height: 100%;
  float: right;
  border-left: 2px solid black;
  
}

/* séparé la div gauche en 2 div haut et bas */

.haut {
  width: 100%;
  height: 50%;
  float: left;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.ATrouver {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.Essaie {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.bas {
  width: 100%;
  height: 50%;
  float: right;
}



/* mettre la div lettre en bas de la div bas */

.Statlettre {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.inputlettre {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;


}