/* styles.css */


body, html {
    height: 100%;

}

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
    
.incription {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bolder;
    color: #000000;
}

a {
    font-weight: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;

}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;

}

p {
    margin: 0;
    padding: 0;
}

.titre {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    width: auto;
    left: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset -2px -2px #000;
    top: 8%;
    z-index: 999;
    margin: auto;
    padding: 20px;
    transform: translate(-50%, -50%);
    
}

.difficulte {
    width: auto;
    border: 2px solid black;
    color: White;
    border-radius: 10px;
    font-size: larger;
    position: absolute;
    top: 80%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -2px -2px #000;
    z-index: 999;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
}

.Droite:hover .difficulte {
    transform:scale(1.25);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);

}

.Centre:hover .difficulte {
    transform:scale(1.25);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.Gauche:hover .difficulte {
    transform:scale(1.25);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.Gauche {
    position: relative;
    height: 100%;
    max-width: 33.3%;
    min-width: 33.3%;
    object-fit: cover;
}

.Droite {
    position: relative;
    height: 100%;
    max-width: 33.3%;
    min-width: 33.3%;
    object-fit: cover;
}

.Centre{
    position: relative;
    height: 100%;
    max-width: 33.3%;
    min-width: 33.3%;
    object-fit: cover;
}

.formulaire {
    text-align: center;
    font-size: 30px;
}

input {
    height: 40px;
    font-family: 'Times New Roman', Times, serif;

}

.background {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: White;
}
