<!DOCTYPE html>
<html lang="fr">
<head>
    <!--French Display version-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Difficultée {{.Difficulty}} | Jeu du pendu</title>

</head>
<body>
    <div class="background">
        <div class = "titre">
            <h1>Bienvenue {{.Username}} <br>
                Bonne chance !</h1>
        </div> 
        <div>
           <p>Nombre d'essais restants : {{.Attempts}} </p>
           <label>Mot : {{.Word}}</label>
           <label>Affichage : {{.ToFind}}</label>
           <label>Lettre essayé : {{.LetterTry}}</label>
           <label>Lettre connue : {{.LetterKnown}}</label>
           <label>Essais : {{.Attempts}}</label>
           <label>{{.Display}}</label>
        </div>
        <div class = "formulaire">
            <form method="post">
                <label>Proposez une lettre:</label>
                
                <input type="text" name="LetterTry" required><br />
                <input class = "Essayer une lettre" type="submit" size = 20 value="Essayer">
                <input type="hidden" name="Username" value="{{.Username}}">
                <input type="hidden" name="Difficulty" value="{{.Difficulty}}">
            </form>
            <LetterTry>
                <p>Vous avez déjà essayé les lettres suivantes</p>
        </div>
        <br>
</body>