<!DOCTYPE html>
<html lang="fr">
<head>
    <!--French Display version-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Difficultée {{.Difficulty}} | Jeu du pendu</title>

</head>
<body>
    <div class="background">
        <div class = "{{.GameEnd}}">
            <h1>La partie est terminée<br>
                Le mot était "{{.ToFind}}" !
            </h1>
            <form method="post" action="/game">
                <input type="hidden" name="Username" value="{{.Username}}">
                <input type="hidden" name="Difficulty" value="{{.Difficulty}}">
                <input class = "rejouer" type="submit" value="Rejouer">
            </form>
        </div>
        <div class = "droite">
            <h1 class = "textdroite">Bienvenue {{.Username}} <br>
                Bonne chance ! <br>
                Win : {{.Win}} <br>
                Lose : {{.Lose}} <br>
                Taux de Reussite : {{.Winrate}} %<br>
                <img src="{{.Img}}" alt="pendu" width="750" height="750">
            </h1>
        </div>
        <div class = "gauche">
            <div class= "haut">
                <label class = "ATrouver">Mot à trouver: {{.Word}}</label>
                <label class = "Essaie"> Nombre d'essais restants : {{.Attempts}} </label>
            </div>
            <div class = "bas">
                <div class = "Statlettre">
                    <label>Lettre fausse : {{.LetterTry}}</label>
                    <label>Lettre connue : {{.LetterKnown}}</label>
                </div>
                <form class = "inputlettre" method="post">
                    <div class = "ProposezLettre">
                        <label>Proposez une lettre:</label>
                        <input class = "pseudo" type="text" name="LetterTry"> <br>
                        <input class = "continuer" type = "submit" value = "Entrer">
                    </div>
                    <input type="hidden" name="Username" value="{{.Username}}">
                    <input type="hidden" name="Difficulty" value="{{.Difficulty}}">
                    <input type="hidden" name="FLaunch" value="{{.FirstLaunch}}">
                </form>
            </div>  
        </div>
    </div>
</body>