<!DOCTYPE html>
<html lang="fr">
<head>
    <!--French Display version-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal | Pendu</title>
</head>
<body>
    <div class = "background1">
        <h1 class = "bienvenue">
            Bienvenue sur le jeu du pendu !<br>
            Veuillez remplir les champs ci-dessous pour jouer 
        </h1> <br>
        <div class = "menu">
            <form class = "index" method="POST" action = "/game">
                <div class = "titre">
                    <label>Entrez votre pseudo:</label> <br>
                    <input class = "pseudo" type="text" name="Username" id="Username" required> <br>
                </div>
                <div class = "choix">
                    <label>Choisissez la difficultée:</label>
                    <input class = "rond" type="radio" id="easy" name="Difficulty" value="Facile"> 
                    <label>Facile</label>
                    <input class = "rond" type="radio" id="normal" name="Difficulty" value="Moyenne" checked>
                    <label>Moyen</label>
                    <input class = "rond" type="radio" id="hard" name="Difficulty" value="Difficile">
                    <label>Difficile</label> 
                </div>
                <input type="submit" class = "start" value="Commencer">
            </form>
        </div>
    </div>
</body>
</html>